.Phonetic {
	height: 50px;
}

.Phonetic a {
	color: #0096ff;
	border: 1px solid #afe1af;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
	background: #afe1af;
	color: #f0ffff;
}

.pronounce {
	opacity: 0.7;
	font-weight: bold;
}

.noAudio {
	color: #0096ff;
	border: 1px solid #afe1af;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	transition: all 150ms ease-in-out;
}

.noAudio:hover {
	background: #9caf9c;
	color: #f0ffff;
}
